/* You can add global styles to this file, and also import other style files */
html,body,app-root{
    height: 100%;
    width: 100%;
    margin:0;
}

body{
    background: rgb(109,9,9);
    background: linear-gradient(0deg, rgba(109,9,9,1) 0%, rgba(168,86,6,1) 23%, rgba(230,199,117,1) 59%, rgba(255,249,223,1) 82%);
}