<div class="container">
    <div class="centered">
      <h1 id="demoFont">Log-in</h1>
    <form  [formGroup]="userForm">
      <!-- class="form-group p-3 mb-2 bg-primary text-white" -->
        
        <div>
          <label class="css-input">
            Email:
              <input type="text"
               class="form-control"
                placeholder="Enter email"
                 formControlName="email"/>
          </label>
          <div class="error"  *ngIf="emailTouched()">
          <div *ngIf="checkIfNotValidEmail()">
                    Email is incorrect please add the elements "@.".
              </div>
            </div>
        </div>
    
        <div>
            <label class="css-input">
              Password:
                <input type="password"
                 class="form-control"
                  placeholder="Enter password"
                   formControlName="Password"/>
            </label>
            <div class="error" *ngIf="PasswordTouched()">
            <div *ngIf="!checkIfPasswordValid()">
                      password is incorrect min lenght is 4 letters max 10.
                </div>
              </div>
          </div>
          <!-- <button class="btn btn-light">Log in</button> -->
            <button class="btn btn-primary btn-block btn-large" [disabled]="!AllowBtn()" (click)="LogIn()" >Let me in</button>
            <button (click)="MoveToHomePage()" class="btn btn-primary btn-block btn-large" >Return to home page</button>
      </form>
      </div>
</div>



