.list-group-item:hover {
    background-color: #949aa7;
}

.list-item-fixed{
    display: flex;
    justify-content: space-between;
}
.badge {
    height: 50px;
    width:50px;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    border-radius: 50%;
    background: grey;
  }